
<!DOCTYPE html>
<html>
<head>

  <title>About | CityPulse</title>
  <link rel="stylesheet" media="all" href="https://d1e48a0mk7d7st.cloudfront.net/assets/application-cd96c29c9be718b735cecd9e39e7cf3d.css" data-turbolinks-track="true" />
  <script src="https://d1e48a0mk7d7st.cloudfront.net/assets/application-251400551dde21b749818fe539f1d8f4.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="L0UYCIu0Gs2hcxjoNJGsd5JJd+fEBkuqkKVPa8U7t1RY2001+NlZ9ZAu/CP6h1eO+9PsXwzhJFSXCrHV8rSUOQ==" />
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300,400">
  <script src="//use.typekit.net/kad8rcq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" media="screen" href="https://d1e48a0mk7d7st.cloudfront.net/assets/override-6e4e464bc15985f0babf10a49a333f44.css" />

  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <link rel="icon" sizes="16x16 32x32 48x48 256x256" href="https://d1e48a0mk7d7st.cloudfront.net/assets/favicon-03244158763c34fd88598d53fdf4644a.ico">
  <!-- <meta property="og:title" content="Dash | Download Dash"/>
  <meta name="keywords" content="Dash, Pay with Dash, pay by phone, Best Nyc, best restaurants in nyc, Mobile pay, Restaurant App, App for restaurants, iPhone Payment App, Android Payment App, Pay, Bars, Mobile Payments, Restaurants, NYC, New York, City, iPhone app, Android app, bill split, bill splitting, payments, mobile, easy, fast">
  <meta name="author" content="Dash Software, LLC.">
  <meta property="og:url" content="http://paywithdash.com"/> -->
  <meta property="og:image" content="https://d1e48a0mk7d7st.cloudfront.net/assets/Dash_FB_Image1-01add8f9966480fdadca773083c590e7.jpg"/>
  <meta property="og:image:width" content="903"/>
  <meta property="og:image:height" content="903"/>
  <meta name="apple-itunes-app" content="app-id=677495265">
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '887829737937598');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=887829737937598&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-32339847-1', 'auto');
     ga('send', 'pageview');
  </script>
  <link rel="stylesheet" media="screen" href="https://d1e48a0mk7d7st.cloudfront.net/assets/about-3523af53b02d2aff7646793c1fd35a13.css" />

</head>
<body class="">
  <div id="dialog_background" class="dialog-background"></div>
  <div id="dialog_container" class="dialog-container"></div>
  <div class="sb-slidebar sb-left">
  <div class="side-bar-container">
    <ul id="side_bar">
      <!-- <li class="dash-link-button" style="  margin-left: 10px;height: 40px;line-height: 40px;  width: 90%;  text-align: center;"><a href="/download">Download</a></li> -->
      <li class="side-nav-button"><a href="/">CityPulse</a></li>
      <li class="side-nav-button"><a href="/about">About</a></li>
      <li class="side-nav-button"data-nav-active><a href="/contact">Contact</a></li>
      <li class="side-nav-button"><a href="/privacy">Privacy Policy</a></li>
    <!--   <li class="side-nav-button" ><a href="/contact">Contact</a></li>
      <li class="side-nav-button"><a href="/careers">Careers</a></li>
      <li class="side-nav-button"><a href="/tos">Terms Of Service</a></li>
      <li class="side-nav-button"><a href="/team">Team</a></li> -->
   <!--    <li>
        <div class="footer-icons-container" style="position: relative;">
          <a href="https://www.facebook.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-facebook"></div></a>
          <a href="https://twitter.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-twitter"></div></a>
          <a href="https://instagram.com/eatdrinkdash/" target="_blank"><div class="footer-icon footer-icon-instagram"></div></a>
        </div>
      </li> -->
    </ul>
  </div>
</div>
<div class="nav-bar sb-slide  ">
  <div class="nav-content-container ">
    <div class="nav-menu sb-toggle-left"></div>
    <a href="/">
      <div class="nav-button nav-button-home"></div>
    </a>
    <a href="/">
      <div class="nav-button nav-button-desktop" >CityPulse</div>
    </a>
    <a href="/about">
      <div class="nav-button nav-button-desktop"data-nav-active >About</div>
    </a>
    <a href="/contact">
      <div class="nav-button nav-button-desktop" >Contact</div>
    </a>
   <!--  <a href="/privacy">
      <div class="nav-button nav-button-desktop" >Privacy Policy</div>
    </a>
    <a href="/download">
      <div class="nav-button-desktop nav-button-download">Download</div>
    </a>
 -->  </div>
</div>

  <div id="sb-site">
    <div  class="content">
      <div class="section section-about">
           <a class="section-anchor" href="#/about"></a>
           <div class="section-text center-y section-text-title-white" style="text-align:center;">
               <div id="about_title_holder"></div>
               <div class="section-text-fade-container">
                   <div class="section-text-container" style="text-align:center;">
                     <div class="secondary-title-main">NICE TO MEET YOU </div>
                     <div class="secondary-title-sub">We connect the right customer with the right business at the right time.</div>
                       <div class="secondary-sub-container">
                           <div class="secondary-sub-detail">
                            <p>
                              People want to know how busy places are and to receive promotions in real-time.<br />
                              Businesses want to know their customer flow and send promotions in real-time.
                              <br />
                              We create a win-win by sharing foot traffic information and connecting customers with businesses through a mobile app.
                              <br />
                              People looking for a wild night out can find busy places.<br />
                              People looking for a place to talk and catch up can find chill locations.
                              <br />
                              Businesses can send these people deals and alerts on the go – increasing their chances of customer conversion.<br />
                              Businesses can gauge the performance of their promotions by looking at changes in their customer flow over time.
                            </p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- <div class="section-opportunities section-join">
           <a class="section-anchor" href="#/careers"></a>
           <div class=" section-text center-y  section-text-title-black " style="text-align:center;">
               <div class="section-text-container " style="text-align:center;">
                   <div class="about-careers-title">We’ve got big ideas. Maybe you do, too.</div>
                   <a href="/careers"> <div class="dash-link-button view-opportunities">View Opportunities</div></a>
               </div>
           </div>
       </div> -->
       <div class="about-press">
           <div class="about-press-title title-underline-short center-x">PRESS</div>
           <div class="about-press-articles-container center-x">
               <div class="about-press-article-container">
                   <div class="about-press-article-header">
                       <img style="width:80px; height:40px;" src="https://d1e48a0mk7d7st.cloudfront.net/assets/TechCrunch@2X-c3e944be7631e411c4d67b8ad1938d2b.png" />
                   </div>
                   <div class="about-press-article-text">
                       “This is valuable at a restaurant where waiting for the bill can be annoying, and even more important at crowded bars where placing orders and paying for them can take up much of the night.”
                   </div>
                   <div class="about-press-article-author">TechCrunch</div>
               </div>
               <div class="about-press-article-container">
                   <div class="about-press-article-header">
                       <img style="width:112px; height:45px;"  src="https://d1e48a0mk7d7st.cloudfront.net/assets/BusinessInsider@2X-fe53c007815c06f81f5059492709516d.png" />

                   </div>
                   <div class="about-press-article-text">
                       “No matter how great it is to spend the night out, trying to push through everyone to close your tab and figuring out how to split the bill is always a nightmare. But Dash solves these problems.”
                   </div>
                   <div class="about-press-article-author">Business Insider</div>
               </div>
               <div class="about-press-article-container">
                   <div class="about-press-article-header">
                       <img style="width:133px; height:36px;" src="https://d1e48a0mk7d7st.cloudfront.net/assets/Eater@2X-49b0f00e40a297086012a7847692c154.png" />

                   </div>
                   <div class="about-press-article-text">
                       “The app allows diners and bar-goers to pay for their bill without having to wait for a server to bring the check at a busy restaurant.”
                   </div>
                   <div class="about-press-article-author">Eater</div>
               </div>
               <div class="about-press-article-container">
                   <div class="about-press-article-header">
                       <img style="width:260px; height:40px;" src="https://d1e48a0mk7d7st.cloudfront.net/assets/WashingtonPost@2X-7586765d91a6c5dcef021dde73c58a9b.png" />

                   </div>
                   <div class="about-press-article-text">
                       “I think customers and restaurants alike will appreciate the fact that technology has given us a totally respectable way to dine and Dash.”
                   </div>
                   <div class="about-press-article-author">Washington Post</div>
               </div>
           </div>
       </div>
       <script type="text/javascript">
        Dash.initAll(null, null, $('#about_title_holder'));
    </script>

    </div>
  <footer >
  <div id="footer" class="footer">
      <!--   <div class="footer-apps-container">
          <a href="https://itunes.apple.com/us/app/dash-pay-on-your-phone-at/id677495265" target="_blank"><div class="footer-app-icon footer-app-icon-apple"></div></a>
          <a href="https://play.google.com/store/apps/details?id=me.dashwith" target="_blank"><div class="footer-app-icon footer-app-icon-google"></div></a>
        </div>
        <div class="footer-icons-container">
            <a href="https://www.facebook.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-facebook"></div></a>
            <a href="https://twitter.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-twitter"></div></a>
            <a href="https://instagram.com/paywithdash/" target="_blank"><div class="footer-icon footer-icon-instagram"></div></a>
        </div>   -->      
          <ul class="footer-links-container">
            <li class="footer-link"><a href="/about">ABOUT</a></li>
            <li class="footer-circle"></li>
            <li class="footer-link"><a href="/contact">CONTACT</a></li>
            <li class="footer-circle"></li>
            <li class="footer-link"><a href="/privacy">PRIVACY POLICY</a></li>
            <!-- <li class="footer-circle"></li>
            <li class="footer-link"><a href="/team">OUR TEAM</a></li> -->
          </ul>
    </div>
</footer>

  </div>
</body>
  
</html>
