
<!DOCTYPE html>
<html>
<head>

  <title>Confirmation | CityPulse</title>
  <link rel="stylesheet" media="all" href="https://d1e48a0mk7d7st.cloudfront.net/assets/application-cd96c29c9be718b735cecd9e39e7cf3d.css" />
  <script src="https://d1e48a0mk7d7st.cloudfront.net/assets/application-251400551dde21b749818fe539f1d8f4.js" ></script>
  <!-- <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="riHkaVk7Y+/L6qveEiBqRDXU6kwn1Simv0gvtFpGLm3Zv7FUKlYg1/q3TxXcNpG9XE5x9O8yR1i459EKbckNAA==" /> -->
  <!-- <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300,400"> -->
  <!-- <script src="//use.typekit.net/kad8rcq.js"></script> -->
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" media="screen" href="https://d1e48a0mk7d7st.cloudfront.net/assets/override-6e4e464bc15985f0babf10a49a333f44.css" />

  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <link rel="icon" sizes="16x16 32x32 48x48 256x256" href="https://d1e48a0mk7d7st.cloudfront.net/assets/favicon-03244158763c34fd88598d53fdf4644a.ico">
  <!-- <meta property="og:title" content="Dash | Download Dash"/>
  <meta name="keywords" content="Dash, Pay with Dash, pay by phone, Best Nyc, best restaurants in nyc, Mobile pay, Restaurant App, App for restaurants, iPhone Payment App, Android Payment App, Pay, Bars, Mobile Payments, Restaurants, NYC, New York, City, iPhone app, Android app, bill split, bill splitting, payments, mobile, easy, fast">
  <meta name="author" content="Dash Software, LLC.">
  <meta property="og:url" content="http://paywithdash.com"/>
  <meta property="og:image" content="https://d1e48a0mk7d7st.cloudfront.net/assets/Dash_FB_Image1-01add8f9966480fdadca773083c590e7.jpg"/>
  <meta property="og:image:width" content="903"/>
  <meta property="og:image:height" content="903"/>
  <meta name="apple-itunes-app" content="app-id=677495265"> -->
    <link rel="stylesheet" media="screen" href="https://d1e48a0mk7d7st.cloudfront.net/assets/confirmation-b61e0cb7efb77612e9fa17e90fa30d23.css" />

</head>
<body class="">
  <div id="dialog_background" class="dialog-background"></div>
  <div id="dialog_container" class="dialog-container"></div>
  <div class="sb-slidebar sb-left">
  <div class="side-bar-container">
    <ul id="side_bar">
      <!-- <li class="dash-link-button" style="  margin-left: 10px;height: 40px;line-height: 40px;  width: 90%;  text-align: center;"><a href="/download">Download</a></li> -->
      <li class="side-nav-button"><a href="/">CITYPULSE</a></li>
      <li class="side-nav-button"><a href="/about">ABOUT</a></li>
      <li class="side-nav-button"><a href="/contact">CONTACT</a></li>
      <li class="side-nav-button"><a href="/privacy">PRIVACY POLICY</a></li>
      <!-- <li class="side-nav-button" ><a href="/contact">Contact</a></li>
      <li class="side-nav-button"><a href="/careers">Careers</a></li>
      <li class="side-nav-button"><a href="/tos">Terms Of Service</a></li>
      <li class="side-nav-button"><a href="/team">Team</a></li> -->
     <!--  <li>
        <div class="footer-icons-container" style="position: relative;">
          <a href="https://www.facebook.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-facebook"></div></a>
          <a href="https://twitter.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-twitter"></div></a>
          <a href="https://instagram.com/eatdrinkdash/" target="_blank"><div class="footer-icon footer-icon-instagram"></div></a>
        </div>
      </li> -->
    </ul>
  </div>
</div>
<div class="nav-bar sb-slide  background-animated-in">
  <div class="nav-content-container ">
    <div class="nav-menu sb-toggle-left"></div>
    <a href="/">
      <div class="nav-button nav-button-home"></div>
    </a>
    <a href="/">
      <div class="nav-button nav-button-desktop" >CITYPULSE</div>
    </a>
    <a href="/venues">
      <div class="nav-button nav-button-desktop" >ABOUT</div>
    </a>
    <a href="/about">
      <div class="nav-button nav-button-desktop" >CONTACT</div>
    </a>
    <!-- <a href="/accept">
      <div class="nav-button nav-button-desktop" >Accept Dash</div>
    </a>
    <a href="/download">
      <div class="nav-button-desktop nav-button-download">Download</div>
    </a> -->
  </div>
</div>

  <div id="sb-site">
    <div  class="content">
      <div class="section section-confirmation">
           <a class="section-anchor" href="#/about"></a>
           <div class="section-text center-y section-text-title-black" style="text-align:center;">
               <div id="about_title_holder"></div>
               <div class="section-text-fade-container">
                   <div class="section-text-container" style="text-align:center;">
                       <div class="confirmation-sub" style="background-color:#ffffff;">
                         <div class="confirmation-title-sub">Thanks for your inquiry into CityPulse!</div>
                           <!-- <div class="confirmation-sub-detail">
                               Someone from our account team will be contacting you shortly. If you have any questions in the meantime please feel free to call us at <a class="dash-link" href="tel:+18557299224">1-(855) 729-9327</a> or email us at <a class="dash-link" href="mailto:hello@paywithdash.com?Subject=Hello" target="_top">join@paywithdash.com</a>
                           </div> -->
                           <div class="confirmation-sub-detail">
                               Someone from our account team will be contacting you shortly. If you have any questions in the meantime please feel free to call us at 1-(123) 456-7890 or email us at <a class="dash-link" href="mailto:hello@citypulseapp.com?Subject=Hello" target="_top">citypulseapp.com</a>
                           </div>
                          <!--  <div>
                           <p>Don't forget to download our app!</p>
                           <div class="confirmation-icons-container">
                           <a href="https://itunes.apple.com/us/app/dash-pay-on-your-phone-at/id677495265" target="_blank"><div class="download-icon download-icon-apple"></div></a>
                           <a href="https://play.google.com/store/apps/details?id=me.dashwith" target="_blank"><div class="download-icon download-icon-google"></div></a>
                           <p>Or go to <a class="dash-link" href="http://getda.sh">http://getda.sh</a> on your mobile device.</p>
                           </div>
                           </div> -->
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <script type="text/javascript">
        Dash.initAll(null, null, $('#about_title_holder'));
    </script>

    </div>
  <footer >
  <div id="footer" class="footer">
        <!-- <div class="footer-apps-container">
          <a href="https://itunes.apple.com/us/app/dash-pay-on-your-phone-at/id677495265" target="_blank"><div class="footer-app-icon footer-app-icon-apple"></div></a>
          <a href="https://play.google.com/store/apps/details?id=me.dashwith" target="_blank"><div class="footer-app-icon footer-app-icon-google"></div></a>
        </div>
        <div class="footer-icons-container">
            <a href="https://www.facebook.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-facebook"></div></a>
            <a href="https://twitter.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-twitter"></div></a>
            <a href="https://instagram.com/paywithdash/" target="_blank"><div class="footer-icon footer-icon-instagram"></div></a>
        </div>  -->       
          <ul class="footer-links-container">
            <li class="footer-link"><a href="/about">ABOUT</a></li>
            <li class="footer-circle"></li>
            <li class="footer-link"><a href="/contact">CONTACT</a></li>
            <li class="footer-circle"></li>
            <li class="footer-link"><a href="/privacy">PRIVACY POLICY</a></li>
            <!-- <li class="footer-circle"></li>
            <li class="footer-link"><a href="/team">OUR TEAM</a></li> -->
          </ul>
    </div>
</footer>

  </div>
</body>
  
</html>
