
<!DOCTYPE html>
<html>
<head>

  <title>Privacy Policy | CityPulse</title>
  <link rel="stylesheet" media="all" href="https://d1e48a0mk7d7st.cloudfront.net/assets/application-cd96c29c9be718b735cecd9e39e7cf3d.css" data-turbolinks-track="true" />
  <script src="https://d1e48a0mk7d7st.cloudfront.net/assets/application-251400551dde21b749818fe539f1d8f4.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="mHrWRiWiGcEJHFPzaa+ohUm8b30MtcTT2zByQD1V18fv5IN7Vs9a+ThBtzinuVN8ICb0xcRSqy3cn4z+Ctr0qg==" />
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300,400">
  <script src="//use.typekit.net/kad8rcq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" media="screen" href="https://d1e48a0mk7d7st.cloudfront.net/assets/override-6e4e464bc15985f0babf10a49a333f44.css" />

  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <link rel="icon" sizes="16x16 32x32 48x48 256x256" href="https://d1e48a0mk7d7st.cloudfront.net/assets/favicon-03244158763c34fd88598d53fdf4644a.ico">
  <!-- <meta property="og:title" content="Dash | Download Dash"/>
  <meta name="keywords" content="Dash, Pay with Dash, pay by phone, Best Nyc, best restaurants in nyc, Mobile pay, Restaurant App, App for restaurants, iPhone Payment App, Android Payment App, Pay, Bars, Mobile Payments, Restaurants, NYC, New York, City, iPhone app, Android app, bill split, bill splitting, payments, mobile, easy, fast">
  <meta name="author" content="Dash Software, LLC.">
  <meta property="og:url" content="http://paywithdash.com"/> -->
  <meta property="og:image" content="https://d1e48a0mk7d7st.cloudfront.net/assets/Dash_FB_Image1-01add8f9966480fdadca773083c590e7.jpg"/>
  <meta property="og:image:width" content="903"/>
  <meta property="og:image:height" content="903"/>
<!--   <meta name="apple-itunes-app" content="app-id=677495265"> -->
    <!-- Facebook Pixel Code -->

  <link rel="stylesheet" media="screen" href="https://d1e48a0mk7d7st.cloudfront.net/assets/tos-d9e45f3125624ae96335f73626718388.css" />

</head>
<body class="">
  <div id="dialog_background" class="dialog-background"></div>
  <div id="dialog_container" class="dialog-container"></div>
  <div class="sb-slidebar sb-left">
  <div class="side-bar-container">
    <ul id="side_bar">
      <li class="dash-link-button" style="  margin-left: 10px;height: 40px;line-height: 40px;  width: 90%;  text-align: center;"><a href="/download">Download</a></li>
      <li class="side-nav-button"><a href="/">CityPulse</a></li>
      <li class="side-nav-button"><a href="/about">About</a></li>
      <li class="side-nav-button"><a href="/contact">Contact</a></li>
      <li class="side-nav-button"data-nav-active><a href="/privacy">Privacy Policy</a></li>
      <!-- <li class="side-nav-button" ><a href="/contact">Contact</a></li>
      <li class="side-nav-button"><a href="/careers">Careers</a></li>
      <li class="side-nav-button"data-nav-active><a href="/tos">Terms Of Service</a></li>
      <li class="side-nav-button"><a href="/team">Team</a></li>
      <li>
        <div class="footer-icons-container" style="position: relative;">
          <a href="https://www.facebook.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-facebook"></div></a>
          <a href="https://twitter.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-twitter"></div></a>
          <a href="https://instagram.com/eatdrinkdash/" target="_blank"><div class="footer-icon footer-icon-instagram"></div></a>
        </div>
      </li> -->
    </ul>
  </div>
</div>
<div class="nav-bar sb-slide  background-animated-in">
  <div class="nav-content-container ">
    <div class="nav-menu sb-toggle-left"></div>
    <a href="/">
      <div class="nav-button nav-button-home"></div>
    </a>
    <a href="/">
      <div class="nav-button nav-button-desktop" >CityPulse</div>
    </a>
    <a href="/about">
      <div class="nav-button nav-button-desktop" >About</div>
    </a>
    <a href="/contact">
      <div class="nav-button nav-button-desktop" >Contact</div>
    </a>
    <!-- <a href="/accept">
      <div class="nav-button nav-button-desktop" >Accept Dash</div>
    </a>
    <a href="/download">
      <div class="nav-button-desktop nav-button-download">Download</div>
    </a> -->
  </div>
</div>

  <div id="sb-site">
    <div  class="content">
      <div class="avoid-nav-bar" style="">
           <div class="tos-container" style="margin: 0 7px 0 7px;">
               <div style="text-align:center;padding-top:20px;">
                  <h2>Privacy Policy</h2>
                <div>Effective Date: 07/01/2015</div>
                <h2>1.  Overview</h2>
                <p>CityPulse knows that you care how information about you is collected, used, and shared. With this in mind, we’ve designed our product and service to protect the privacy of our customers and clients. We’ve tried our best to explain our practices below as simply and clearly as possible and we’re here to answer any additional questions you may have at <a href="mailto:privacy@citypulseapp.com?Subject=Privacy Inquiry" target="_top">privacy@citypulseapp.com</a>.</p>
                <p>By using this site and/or any of CityPulse’s online or mobile products and services, you agree to this privacy policy.</p>
                <p>From time to time, we may modify this Policy so please review it frequently.  If we make material changes to this policy we will notify you via a notice on our <a href="http://www.citypulseapp.com">home page</a> prior to the changes taking effect.  If you continue to use our online or mobile products, it will tell us that you’ve accepted the changes.</p>
                <h2>2.  What Information We Collect</h2>
                <p>Certain Wi-Fi enabled devices regularly send signals known as probe requests to announce their presence to nearby wireless networks.  CityPulse senses these signals when these Wi-Fi enabled devices enter client locations.  From these signals CityPulse collects the following information from each device: the time the device was first seen, last seen, number of times seen, and Media Access Control (MAC) address.  The MAC address is a unique identifier comprised of letters and numbers to identify the device to wireless networks.  Although MAC addresses are device specific, they do not identify the owner of the device or disclose other personal information.</p>
                <h2>3.  How we Use the Information We Collect</h2>
                <p>The information CityPulse collects is used to determine the flow of customers at client locations. The data is aggregated and anonymized to provide businesses with general information about their foot traffic such as customer count, frequency, and lengths of stay.  Unique identifiers, such as MAC addresses, are not provided to the businesses and we contractually prohibit them from attempting to use the data to identify specific individuals.</p>
                <h2>4.  How We Save the Information We Collect</h2>
                <p>The information CityPulse collects (as set out above) is securely transmitted directly to the CityPulse server and database.  Google App Engine hosts the CityPulse server and Google Cloud SQL hosts the CityPulse database.  All data stored on the CityPulse server and database is subject to Google’s <a href="https://www.google.com/intl/en_us/policies/privacy/">privacy policy</a>.</p>
                <p>None of the information collected is stored locally on the CityPulse sensor.  The only information stored locally on our wireless sensor is the network name and password of the business’s wireless network, as well as a unique CityPulse ID. This information allows our sensor to automatically connect to the business’s network to securely transmit the information CityPulse collects.</p>
                <h2>5.  Our Website Privacy Policies</h2>
                <p>All data collected from or submitted on the CityPulse website is subject to the below terms.</p>
                <p>You can use our site to register an account to access CityPulse’s aggregated data analytics about your business. We use Google third-party services for hosting and analytics, meaning that at that time of your account creation we will only collect your first name, last name, Gmail email address and Google ID. You will log in to your account using your Gmail login information. Your Gmail password is always maintained within Google’s own servers and is not shared with CityPulse. For more information about Google’s privacy policy, please visit <a href="http://www.google.com/intl/en/policies/privacy">http://www.google.com/intl/en/policies/privacy</a>.</p>
                <p>CityPulse will associate your Gmail account with a unique CityPulse ID that we assign you and with the Google Places ID for your business. For more information about Google’s Places ID, please visit <a href="https://developers.google.com/places">https://developers.google.com/places</a>.</p>
                <p>You can use Google’s authentication to login and see our aggregated business analytics data. We may also use your Gmail address to provide you with important CityPulse notices. The information we collect is not shared with or sold to other organizations for commercial purposes, except under the circumstances described in this policy or when we have your permission.</p>
                <p>We use cookies and/or web beacons to improve the experience of our websites. If you are not familiar with these terms, you can learn more about them on <a href="http://www.allaboutcookies.org/">this site</a>. You can disable cookies, limit the types of cookies you allow, or set your browser to alert you when cookies are being sent. Please refer to <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org</a> or the guidance provided by your individual web browser if you’d like help in managing your cookie preferences. We may also use anonymous and aggregated information from industry-standard website analytics, like Google Analytics, to better design our website.</p>
                <p>We never collect or maintain information on our website from visitors we know to be under the age of 13, and our website is in no way structured to attract visitors from that age group.</p>
                <h2>6.  Other Important Information</h2>
                <p>We may release your information when we believe release is appropriate to comply with the law, as required by a warrant or court order, to enforce our policies, or protect our or others' rights, property, or safety. We only share your activity on our website with third parties according to the terms described above and we do not currently respond to 'Do Not Track' signals.</p>
                <p>If you have any comments or questions, please contact us at <a href="mailto:privacy@citypulseapp.com?Subject=Privacy Inquiry" target="_top">privacy@citypulseapp.com</a>.</p>
                  <!--  <h2>Dash Terms of Service</h2>
                   <div>Revised August 19, 2015</div>
               </div>

               <h2>WELCOME TO DASH!</h2>
               <p>Dash Software LLC (“Dash,” “we,” “us,” “our”) provides its services (described below) to you through its website located at <a href="/">http://paywithdash.com</a> (the “Site”) and through its mobile applications and related services (collectively, such services, including any new features and applications, and the Site, the “Service(s)”), subject to the following Terms of Service (as amended from time to time, the “Terms of Service”). These Terms of Service have been provided to you and constitute a valid and binding agreement between you and Dash, enforceable against you in accordance with their terms. You represent that you are (i) at least 18 years of age, (ii) of legal age to form a binding contract, and (iii) not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. All calls, emails and other communications between you and Dash may be recorded. We reserve the right, at our sole discretion, to change or modify portions of these Terms of Service at any time without further notice. You should periodically visit this page to review the current Terms of Service so you are aware of any revision to which you are bound. If we do this, we will post the changes to these Terms of Service on this page and will indicate at the top of this page the date these terms were last revised. Your continued use of the Service after any such changes constitutes your acceptance of the new Terms of Service. If you do not agree to abide by these or any future Terms of Service, do not use or access (or continue to use or access) the Service.</p>
               <p>In addition, when using certain services, you will be subject to any additional terms applicable to such services that may be posted on the Service from time to time, including, without limitation, the Privacy Policy located at <a href="/privacy">http://paywithdash.com/privacy</a>. All such terms are hereby incorporated by reference into these Terms of Service.</p>

               <h2>1.	ACCESS AND USE OF THE SERVICE</h2>
               <p>
                   <strong>Services Description:</strong> The Service is designed to facilitate mobile payment and other transactions through your Smartphone.
               </p><p>
                   <strong>Your Registration Obligations:</strong> In order to use most aspects of the Service, you must register for and maintain an active personal user Services account (“Account”). You must be at least 18 years of age, or the age of legal majority in your jurisdiction (if different than 18), to obtain an Account. Account registration requires you to submit to Dash certain personal information, such as your name, address, mobile phone number and age, as well as at least one valid credit card. If you choose to register for the Service, you agree to (i) indicate agreement to these Terms of Service, (ii) provide and maintain true, accurate, current and complete information about yourself as prompted by the Service’s registration form, and (iii) submit any other form of authentication required as part of the enrollment process, in Dash’s sole discretion. You understand that Dash may require or ask for additional information from you including proof of identification. You understand that if you fail to submit this information Dash reserves the right to suspend or terminate your account. Registration data and certain other information about you are governed by our Privacy Policy. If you are under 18 years old, you may not use the Service and by registering to use the Service, you represent and warrant that you are 18 years of age or older.

               </p><p>
                   <strong>Member Account, Password and Security:</strong> You agree that having multiple accounts and, or, sharing Dash Accounts with, but not limited to, any family members, relatives or friends is a violation of these Terms of Service. You agree to accept responsibility for all activities that occur under your account or password. You are responsible for maintaining the confidentiality of your account and password, and for restricting access to your account. You shall not use your Dash member account for any purpose competitive to Dash. You agree to (i) immediately notify Dash of any unauthorized use of your password or account or any other breach of security, and (ii) ensure that you exit from your account at the end of each session when accessing the Service. Dash will not be liable for any loss or damage arising from your failure to comply with this Section.

               </p><p>
                   <strong>Modifications to Service:</strong> Dash reserves the right to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that Dash will not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.

               </p><p>
                   <strong>General Practices Regarding Use and Storage:</strong> You acknowledge that Dash may establish general practices and limits concerning use of the Service, including without limitation the maximum period of time that data or other content will be retained by the Service and the maximum storage space that will be allotted on Dash’s servers on your behalf. You agree that Dash has no responsibility or liability for the deletion or failure to store any data or other content maintained or uploaded by the Service. You acknowledge that Dash reserves the right to terminate accounts that are inactive for an extended period of time. You further acknowledge that Dash reserves the right to change these general practices and limits at any time, in its sole discretion, with or without notice.

               </p><p>
                   <strong>Network Access and Devices:</strong> The Service includes certain services that are available via a mobile device, including (i) the ability to upload content to the Service via a mobile device, (ii) the ability to browse the Service and the Site from a mobile device and (iii) the ability to access certain features through an application downloaded and installed on a mobile device (collectively, the “Services”). You are responsible for obtaining the data network access necessary to use the Services. Your mobile network’s data and messaging rates and fees may apply if you access or use the Services from a wireless-enabled device. You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Services and Applications and any updates thereto. Dash does not guarantee that the Services, or any portion thereof, will function on any particular hardware or devices. In addition, the Services may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications.

               </p><p>
                   <strong>Communication:</strong> By using the Services, you agree that we may communicate with you regarding Dash and other entities by SMS, MMS, electronic mail, text message or other electronic means to your mobile device and that certain information about your usage of the Mobile Services may be communicated to us. In the event you change or deactivate your mobile telephone number, you agree to promptly update your Dash account information to ensure that your messages are not sent to the person that acquires your old number.

               </p><p>
                   <strong>E-Signature:</strong> You acknowledge and agree that your use of the Service shall involve you providing an “e-signature” or “electronic signature” indicating your desire and intent to use the Service to pay for any check, bill, tab or other balance due to a third party establishment. Such “electronic signature” shall include your pressing certain buttons or icons on the screen of your Smartphone. Your “electronic signature” indicates your acceptance of any check, bill, tab or other payment presented to you by an establishment and that you agree to settle or pay for any such any check, bill, tab or owed payment using the payment functionality of the Service.

               </p><h2>2.	PROMOTIONAL CODES</h2>
               <p>
                   Dash may, in Dash’s sole discretion, create promotional codes that may be redeemed for Account credit or other features or benefits related to a Third Party Provider’s services, subject to terms that Dash establish on a per promotional code basis (“<i>Promo Codes</i>”). You acknowledge and agree that any terms and conditions outlined apply indiscriminately to: promotional codes, referral codes, referral credits or simply credits and these terms are overlapping. You agree that Promo Codes: (i) must be used for the intended audience and purpose, and in a lawful manner; (ii) may not be duplicated, sold or transferred in any manner, or made available to the general public, unless expressly permitted by Dash; (iii) may be disabled by Dash at any time for any reason without liability to Dash; (iv) may only be used pursuant to the specific terms that Dash establish for such Promo Code; (v) are not valid for cash; and (vi) may expire prior to your use. Dash reserves the right to withhold or deduct credits or other features or benefits obtained through the use of Promo Codes by you or any other user in the event that Dash determines or believes that the use or redemption of the Promo Code was in error, fraudulent, illegal, or in violation of the applicable Promo Code terms or these Terms.
               </p><p>
                   Dash may offer member accounts the ability to earn credits or discounts (“Referral Credits”) toward future purchases on Dash when they invite friends to create Dash accounts and those friends make a qualifying purchase. You may only earn Referral Credits via Dash’s authorized member invite mechanisms. Referrals outside of Dash authorized channels will not result in any Referral Credit. You understand that Referral Credits are not transferable, may not be auctioned, bartered or sold and may not be pooled with other members. You will only receive Referral Credit for the first qualifying purchase made by a friend after he or she makes his or her first purchase on the Dash Site as a result of an invite from you via a Dash authorized channel. If your friend does not follow the directions in the invite email or other valid invite mechanism to accept the invitation, you may not receive Referral Credit, and Dash will have no liability to you whatsoever.
               </p><p>
                   You agree that having multiple Dash accounts is a violation of these Terms and Conditions and that sending invites to alternate email addresses or accounts or otherwise attempting to circumvent Dash's Referral Credit program system may, without limiting any other Dash rights or remedies, result in forfeiture of your member account and all Referral Credits in your account. Dash reserves the right to void referrals and Referral Credits earned if we suspect that the referrals or Referral Credits were earned in a fraudulent manner, in a manner that violates these Terms and Conditions or in a manner otherwise not intended by Dash. You must not conduct your own promotion in connection with our Referral Credit program. You may not engage in any promotional, marketing, or other advertising activities on behalf of Dash, including by using any trademarks of Dash.
               </p><p>
                   Referral Credits will appear in your account within approximately 24 hours after one of your qualifying invitees makes his or her qualifying purchase.
               </p><p>
                   The Referral Credit program is void where prohibited by law. Dash reserves the right to modify or terminate the Referral Credit program at any time. Should there be any tax liability for the accumulation and/or use of Referral Credits, such taxes are the sole responsibility of the participant. You understand that your account may not accurately reflect the Referral Credits you have actually earned. Dash will have no liability for any errors displayed in your account.

               </p><h2>3.	PAYMENT</h2>
               <p>
	       <strong>Payment of Your Check in Third Party Establishments:</strong> You acknowledge that should you use the Service to settle or pay for a check, bill, tab or other payment in a third-party establishment (including but not limited to a restaurant, pub, bar, wine bar or tavern), a minimum tip or gratuity may be included which is determined by the restaurant or bar. Any third-party establishment which you frequent and which allows you to use the Service to settle or pay for a check, bill, tab or other payment retains the right to settle your payment should you fail to properly settle your outstanding balance either as a result of your failure to use the Service to pay for your balance or as a result of the Service to fail to properly pay such owed payment.In addition, should you fail to properly settle your outstanding balance a standard 20% tip or gratuity will be included as part of your payment to the third-party establishment. 
	       </p><p>
	       Any restaurant or other establishment that allows you to use the Service to pay for any outstanding check, bill, tab or other balance retains the right to request that you authorize such payment by other means including, but not limited to, signing a printed receipt, prior to delivering a final check, bill or tab to you. You acknowledge that, should you dispute any charge that appears on your credit or debit card statement related to your use of the Service to pay for a check, bill, tab or other balance in a third-party establishment, any chargeback for such charge shall apply to such third-party establishment and that Dash shall not be liable to you according to these Terms of Service.
               </p><p>
                   You understand that use of the Services may result in payments by you for the services you receive from a Third Party Provider (“Charges”). You acknowledge that payment cannot be made by any type of prepaid card. After you have received services obtained through your use of the Service, Dash will facilitate payment of the applicable Charges on behalf of the Third Party Provider, as such Third Party Provider’s limited payment collection agent, using the default payment method designated in your Account, and will send you a receipt by email. Payment of the Charges in such manner shall be considered the same as payment made directly by you to the Third Party Provider. Charges will be inclusive of applicable taxes where required by law. Charges paid by you are final and non-refundable, unless otherwise determined by Dash. If a Third Party Provider wants to provide refund to customer, Third Party Provider must communicate this to Dash and it is solely Dash’s responsibility to determine if this is a valid request and grant this request. A Third Party Provider cannot act on the behalf of Dash and you understand that any promises made by a Third Party Provider are not valid until approved by Dash in its sole and absolute discretion.
               </p><p>
                   All Charges are due immediately and payment will be facilitated by Dash using the default payment method designated in your Account. If your primary Account payment method is determined to be expired, invalid or otherwise not able to be charged, you agree that Dash may, as the Third Party Provider’s limited payment collection agent, attempt to reprocess the payment using the same payment method and, or use a secondary payment method in your Account, if available. You agree that if Dash is unable to collect payment Dash reserves the right to deactivate your Account and pursue other means, including but not limited to, collecting payment through a Collection Agency.
               </p><p>
                   Dash reserves the right to establish, remove and/or revise Charges for any or all aspects of the Services at any time in Dash’s sole discretion. Dash may from time to time provide certain users with promotional offers and discounts that may result in different Charges for the same or similar Services, and you agree that such promotional offers and discounts, unless also made available to you, shall have no bearing on your use of the Services or the Charges applied to you.
               </p><p>
                   You agree that any payment method, including but not limited to, any credit card entered and stored on your member account must be valid and in your name only. Payment methods under other names, including but not limited to, friends or family may not be entered or used on any Dash account other than their own. Payment method names and addresses must be valid, obtained legally and match the Dash Account user information provided at registration or if applicable, updated since then.

               </p><h2>4.	TERMINATION</h2>
               <p>
                   You may cancel your Dash member account at any time by contacting Dash customer service at hello@paywithdash.com. You agree that Dash, in its sole discretion, may suspend or terminate your account (or any part thereof) or use of the Service and remove and discard any content within the Service, for any reason, including, without limitation, (i) in order to comply with applicable Law, (ii) if you provide any information that Dash determines, in its sole discretion, to be untrue, inaccurate, not current or incomplete (or if the information becomes untrue, inaccurate, not current or incomplete), (iii) if Dash determines, in its sole discretion, that you are using your Dash member account in a manner not permitted by these Terms of Service, or (iv) in other circumstances, as Dash deems appropriate in its sole discretion. Any suspected fraudulent, abusive or illegal activity that may be grounds for termination of your use of Service, may be referred to appropriate law enforcement authorities.
               </p><p>
                   Dash may also in its sole discretion and at any time discontinue providing the Service, or any part thereof, with or without notice. You agree that any termination of your access to the Service under any provision of this Terms of Service may be effected without prior notice, and acknowledge and agree that Dash may immediately deactivate or delete your account and/or bar any further access to such files or the Service. Further, you agree that Dash will not be liable to you or any third party for any termination of your access to the Service. Upon the termination or deactivation of an Account, Dash may retain all records, correspondence, transaction history and other information in its files, corporate records and/or archives.

               </p><h2>5.	CONDITIONS OF USE</h2>
               User Conduct: You are solely responsible for all code, video, images, information, data, text, software, music, sound, photographs, graphics, messages or other materials (“content”) that you upload, post, publish or display (hereinafter, “upload”) or email or otherwise use via the Service. The following are examples of the kind of content and/or use that is illegal or prohibited by Dash. Dash reserves the right to investigate and take appropriate legal action against anyone who, in Dash’s sole discretion, violates this provision, including without limitation, removing the offending content from the Service, suspending or terminating the account of such violators and reporting you to the law enforcement authorities. You agree to not use the Service to:
               <ol>
                   <li>email or otherwise upload any content that (i) infringes any intellectual property or other proprietary rights of any party; (ii) you do not have a right to upload under any law or under contractual or fiduciary relationships; (iii) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; (iv) poses or creates a privacy or security risk to any person; (v) constitutes unsolicited or unauthorized advertising, promotional materials, commercial activities and/or sales, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” “contests,” “sweepstakes,” or any other form of solicitation; (vi) is unlawful, harmful, threatening, abusive, harassing, tortious, excessively violent, defamatory, vulgar, obscene, pornographic, libelous, invasive of another’s privacy, hateful racially, ethnically or otherwise objectionable; or (vii) in the sole judgment of Dash, is objectionable or which restricts or inhibits any other person from using or enjoying the Service, or which may expose Dash or its users to any harm or liability of any type;</li>
                   <li>interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service; or</li>
                   <li>violate any applicable local, state, national or international law, or any regulations having the force of law;</li>
                   <li>impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
                   <li>solicit personal information from anyone under the age of 18;</li>
                   <li>harvest or collect email addresses or other contact information of other users from the Service by electronic or other means for the purposes of sending unsolicited emails or other unsolicited communications;</li>
                   <li>advertise or offer to sell or buy any goods or services for any business purpose that is not specifically authorized;</li>
                   <li>further or promote any criminal activity or enterprise or provide instructional information about illegal activities; or</li>
                   <li>obtain or attempt to access or otherwise obtain any materials or information through any means not intentionally made available or provided for through the Service.</li>
               </ol>
               <p>
                   <strong>Fees:</strong> To the extent the Service or any portion thereof is made available for any fee, you will be required to select a payment plan and provide Dash information regarding your credit card or other payment instrument. You represent and warrant to Dash that such information is true and that you are authorized to use the payment instrument. You will promptly update your account information with any changes (for example, a change in your billing address or credit card expiration date) that may occur. You agree to pay Dash the amount that is specified in the payment plan in accordance with the terms of such plan and these TOS. You hereby authorize Dash to bill your payment instrument in advance on a periodic basis in accordance with the terms of the applicable payment plan until you terminate your account, and you further agree to pay any charges so incurred. If you dispute any charges you must let Dash know within sixty (60) days after the date that Dash invoices you. We reserve the right to change Dash’s prices. If Dash does change prices, Dash will provide notice of the change on the Site or in email to you, at Dash’s option, at least 30 days before the change is to take effect. Your continued use of the Service after the price change becomes effective constitutes your agreement to pay the changed amount. Dash may choose to bill through an invoice, in which case, full payment for invoices issued in any given month must be received by Dash thirty (30) days after the mailing date of the invoice, or the Services may be terminated. Unpaid invoices are subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum permitted by law, whichever is lower, plus all expenses of collection. You shall be responsible for all taxes associated with Services other than U.S. taxes based on Dash’s net income.
               </p><p>
                   <strong>Special Notice for International Use;</strong> Export Controls: Software (defined below) available in connection with the Service and the transmission of applicable data, if any, is subject to United States export controls. No Software may be downloaded from the Service or otherwise exported or re-exported in violation of U.S. export laws. Downloading or using the Software is at your sole risk. Recognizing the global nature of the Internet, you agree to comply with all local rules and laws regarding your use of the Service, including as it concerns online conduct and acceptable content. You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (2) you are not listed on any U.S. Government list of prohibited or restricted parties.
               </p><p>
                   <strong>Commercial Use:</strong> Unless otherwise expressly authorized herein or in the Service, you agree not to display, distribute, license, perform, publish, reproduce, duplicate, copy, create derivative works from, modify, sell, resell, exploit, transfer or upload for any commercial purposes, any portion of the Service, use of the Service, or access to the Service. The Service is for your personal use.

               </p><h2>6.	THIRD-PARTY SERVICES AND CONTENT</h2>
               <p>
                   The Services may be made available or accessed in connection with third-party services and content (including advertising) that Dash does not control. You acknowledge that different terms of use and privacy policies may apply to your use of such third-party services and content. Dash does not endorse such third party services and content and in no event shall Dash be responsible or liable for any products or services of such third party providers. Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited will be a third-party beneficiary to this contract if you access the Services using Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These third-party beneficiaries are not parties to this contract and are not responsible for the provision or support of the Services in any manner. Your access to the Services using these devices is subject to terms set forth in the applicable third-party beneficiary’s terms of service.

               </p><h2>7.	INTELLECTUAL PROPERTY RIGHTS</h2>

               <p>
                   <strong>Service Content, Software and Trademarks:</strong> You acknowledge and agree that the Service may contain content or features (“Service Content”) that are protected by copyright, patent, trademark, trade secret or other proprietary rights and laws. Except as expressly authorized by Dash, you agree not to modify, copy, frame, scrape, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Service Content, in whole or in part, except that the foregoing does not apply to your own User Content (as defined below) that you legally upload to the Service. In connection with your use of the Service you will not engage in or use any data mining, robots, scraping or similar data gathering or extraction methods. Any use of the Service or the Service Content other than as specifically authorized herein is strictly prohibited. The technology and software underlying the Service or distributed in connection therewith is the property of Dash, our affiliates and our partners (the “Software”). You agree not to copy, modify, create a derivative work of, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, or otherwise transfer any right in the Software. Any rights not expressly granted herein are reserved by Dash.
               </p><p>
                   The Dash name and logos are trademarks and service marks of Dash (collectively the “Dash Trademarks”). Other Dash, product, and service names and logos used and displayed via the Service may be trademarks or service marks of their respective owners who may or may not endorse or be affiliated with or connected to Dash. Nothing in this Terms of Service or the Service should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of Dash Trademarks displayed on the Service, without our prior written permission in each instance. All goodwill generated from the use of Dash Trademarks will inure to our exclusive benefit.
               </p><p>
                   <strong>Third Party Material:</strong> Under no circumstances will Dash be liable in any way for any content or materials of any third parties (including users), including, but not limited to, for any errors or omissions in any content, or for any loss or damage of any kind incurred as a result of the use of any such content. You acknowledge that Dash does not pre-screen content, but that Dash and its designees will have the right (but not the obligation) in their sole discretion to refuse or remove any content that is available via the Service. Without limiting the foregoing, Dash and its designees will have the right to remove any content that violates these Terms of Service or is deemed by Dash, in its sole discretion, to be otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any content, including any reliance on the accuracy, completeness, or usefulness of such content.
               </p><p>
                   <strong>User Content Transmitted Through the Service:</strong> With respect to the content or other materials you upload through the Service or share with other users or recipients (collectively, “User Content”), you represent and warrant that you own all right, title and interest in and to such User Content, including, without limitation, all copyright and rights of publicity contained therein. By uploading any User Content you hereby grant and will grant Dash and its affiliated companies a nonexclusive, worldwide, royalty free, fully paid up, transferable, sublicensable, perpetual, irrevocable license to copy, display, upload, perform, distribute, store, modify and otherwise use your User Content in connection with the operation of the Service or the promotion, advertising or marketing thereof, in any form, medium or technology now known or later developed.
               </p><p>
                   You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information about the Service (“Submissions”), provided by you to Dash are non-confidential and Dash will be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
               </p><p>
                   You acknowledge and agree that Dash may preserve content and may also disclose content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process, applicable laws or government requests; (b) enforce these Terms of Service; (c) respond to claims that any content violates the rights of third parties; or (d) protect the rights, property, or personal safety of Dash, its users and the public. You understand that the technical processing and transmission of the Service, including your content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
               </p><p>
                   <strong>Copyright Complaints:</strong> Dash respects the intellectual property of others, and we ask our users to do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, you should notify Dash of your infringement claim in accordance with the procedure set forth below.
               </p><p>
                   Dash will process and investigate notices of alleged infringement and will take appropriate actions under the Digital Millennium Copyright Act (“DMCA”) and other applicable intellectual property laws with respect to any alleged or actual infringement. A notification of claimed copyright infringement should be emailed to Dash’s Copyright Agent at copyright@paywithdash.com (Subject line: “DMCA Takedown Request”). You may also contact us by mail or facsimile at:

               </p><p>
                   Dash Software<br>
                   152 W 25th Street<br>
                   12th Floor<br>
                   New York, NY 10001
               </p>

               <p>
                   To be effective, the notification must be in writing and contain the following information:
               </p><ul>
                   <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
                   <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
                   <li>a description of where the material that you claim is infringing is located on the Service, with enough detail that we may find it on the Service;</li>
                   <li>your address, telephone number, and email address;</li>
                   <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law;</li>
                   <li>a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner’s behalf.</li>
               </ul>
               <p>
                   <strong>Counter-Notice:</strong> If you believe that your User Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner’s agent, or pursuant to the law, to upload and use the content in your User Content, you may send a written counter-notice containing the following information to the Copyright Agent:
               </p><ul>
                   <li>your physical or electronic signature;</li>
                   <li>identification of the content that has been removed or to which access has been disabled and the location at which the content appeared before it was removed or disabled;</li>
                   <li>a statement that you have a good faith belief that the content was removed or disabled as a result of mistake or a misidentification of the content; and</li>
                   <li>
                       your name, address, telephone number, and email address, a statement that you consent to the jurisdiction of the federal court located within New York, New York and a statement that you will accept service of process from the person who provided notification of the alleged infringement.
                   </li>
               </ul>
               <p>
                   If a counter-notice is received by the Copyright Agent, Dash will send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at our sole discretion.

               </p><p>
                   <strong>Repeat Infringer Policy:</strong> In accordance with the DMCA and other applicable law, Dash has adopted a policy of terminating, in appropriate circumstances and at Dash’s sole discretion, users who are deemed to be repeat infringers. Dash may also at its sole discretion limit access to the Service and/or terminate the memberships of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.

               </p><h2>8.	THIRD PARTY WEBSITES</h2>
               <p>
                   The Service may provide, or third parties may provide, links or other access to other sites and resources on the Internet. Dash has no control over such sites and resources and Dash is not responsible for and does not endorse such sites and resources. You further acknowledge and agree that Dash will not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, events, goods or services available on or through any such site or resource. Any dealings you have with third parties found while using the Service are between you and the third party, and you agree that Dash is not liable for any loss or claim that you may have against any such third party.

               </p><h2>9.	SOCIAL NETWORKING SERVICES</h2>
               <p>
                   You may enable or log in to the Service via various online third party services, such as social media and social networking services like Facebook or Twitter (“Social Networking Services”). By logging in or directly integrating these Social Networking Services into the Service, we make your online experiences richer and more personalized. To take advantage of this feature and capabilities, we may ask you to authenticate, register for or log into Social Networking Services on the websites of their respective providers. As part of such integration, the Social Networking Services will provide us with access to certain information that you have provided to such Social Networking Services, and we will use, store and disclose such information in accordance with our Privacy Policy. For more information about the implications of activating these Social Networking Services and Dash’s use, storage and disclosure of information related to you and your use of such services within Dash (including your friend lists and the like), please see our Privacy Policy at <a href="/privacy">http://paywithdash.com/privacy-policy</a>. However, please remember that the manner in which Social Networking Services use, store and disclose your information is governed solely by the policies of such third parties, and Dash shall have no liability or responsibility for the privacy practices or other actions of any third party site or service that may be enabled within the Service.
               </p><p>
                   In addition, Dash is not responsible for the accuracy, availability or reliability of any information, content, goods, data, opinions, advice or statements made available in connection with Social Networking Services. As such, Dash is not liable for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Social Networking Services. Dash enables these features merely as a convenience and the integration or inclusion of such features does not imply an endorsement or recommendation.

               </p><h2>10.	INDEMNITY AND RELEASE</h2>
               You agree to release, indemnify and hold Dash and its affiliates and their officers, employees, directors and agents harmless from any from any and all losses, damages, expenses, including reasonable attorneys’ fees, rights, claims, actions of any kind and injury (including death) arising out of or relating to your use of the Service, any User Content, your connection to the Service, your violation of these Terms of Service or your violation of any rights of another. If you are a California resident, you waive California Civil Code Section 1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.” If you are a resident of another jurisdiction, you waive any comparable statute or doctrine.

               <h2>11.	DISCLAIMER OF WARRANTIES</h2>
               <p>
                   YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. DASH EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
               </p><p>
                   DASH MAKES NO WARRANTY THAT (I) THE SERVICE WILL MEET YOUR REQUIREMENTS, (II) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (III) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, OR (IV) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS.

               </p><h2>12.	LIMITATION OF LIABILITY</h2>
               <p>
                   YOU EXPRESSLY UNDERSTAND AND AGREE THAT DASH WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY DAMAGES, OR DAMAGES FOR LOSS OF PROFITS INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF DASH HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, RESULTING FROM: (I) THE USE OR THE INABILITY TO USE THE SERVICE; (II) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (III) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (IV) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (V) ANY OTHER MATTER RELATING TO THE SERVICE. IN NO EVENT WILL DASH’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OF ACTION EXCEED THE AMOUNT YOU HAVE PAID DASH IN THE LAST SIX (6) MONTHS, OR, IF GREATER, ONE HUNDRED DOLLARS ($100).
               </p><p>
                   SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS SET FORTH ABOVE MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SERVICE OR WITH THESE TERMS OF SERVICE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USE OF THE SERVICE.

               </p><h2>13.	ARBITRATION</h2>
               <p>
                   At Dash’s or your election, all disputes, claims, or controversies arising out of or relating to the Terms of Service or the Service that are not resolved by mutual agreement may be resolved by binding arbitration to be conducted before JAMS, or its successor. Unless otherwise agreed by the parties, arbitration will be held in New York, New York before a single arbitrator mutually agreed upon by the parties, or if the parties cannot mutually agree, a single arbitrator appointed by JAMS, and will be conducted in accordance with the rules and regulations promulgated by JAMS unless specifically modified in the Terms of Service. The arbitration must commence within forty-five (45) days of the date on which a written demand for arbitration is filed by either party. The arbitrator’s decision and award will be made and delivered within sixty (60) days of the conclusion of the arbitration and within six (6) months of the selection of the arbitrator. The arbitrator will not have the power to award damages in excess of the limitation on actual compensatory, direct damages set forth in the Terms of Service and may not multiply actual damages or award punitive damages or any other damages that are specifically excluded under the Terms of Service, and each party hereby irrevocably waives any claim to such damages. The arbitrator may, in his or her discretion, assess costs and expenses (including the reasonable legal fees and expenses of the prevailing part) against any party to a proceeding. Any party refusing to comply with an order of the arbitrators will be liable for costs and expenses, including attorneys’ fees, incurred by the other party in enforcing the award. Notwithstanding the foregoing, in the case of temporary or preliminary injunctive relief, any party may proceed in court without prior arbitration for the purpose of avoiding immediate and irreparable harm. The provisions of this arbitration section will be enforceable in any court of competent jurisdiction.

               </p><h2>14.	USER DISPUTES</h2>
               <p>
                   You agree that you are solely responsible for your interactions with any other user in connection with the Service and Dash will have no liability or responsibility with respect thereto. Dash reserves the right, but has no obligation, to become involved in any way with disputes between you and any other user of the Service.

               </p><h2>15.	GENERAL</h2>
               <p>
                   These Terms of Service constitute the entire agreement between you and Dash and govern your use of the Service, superseding any prior agreements between you and Dash with respect to the Service. You also may be subject to additional terms and conditions that may apply when you use affiliate or third-party services, third-party content or third-party software. These Terms of Service will be governed by the laws of the State of New York without regard to its conflict of law provisions. With respect to any disputes or claims not subject to arbitration, as set forth above, you and Dash agree to submit to the personal and exclusive jurisdiction of the state and federal courts located within New York, New York. The failure of Dash to exercise or enforce any right or provision of these Terms of Service will not constitute a waiver of such right or provision. If any provision of these Terms of Service is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of these Terms of Service remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or these Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred. A printed version of this agreement and of any notice given in electronic form will be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. You may not assign this Terms of Service without the prior written consent of Dash, but Dash may assign or transfer this Terms of Service, in whole or in part, without restriction. The section titles in these Terms of Service are for convenience only and have no legal or contractual effect. Notices to you may be made via either email or regular mail. The Service may also provide notices to you of changes to these Terms of Service or other matters by displaying notices or links to notices generally on the Service.

               </p><h2>16.	YOUR PRIVACY</h2>
               <p>
                   At Dash, we respect the privacy of our users. For details please see our Privacy Policy. By using the Service, you consent to our collection and use of personal data as outlined therein. You can view our privacy policy at: <a href="/privacy">http://paywithdash.com/privacy</a>

               </p><h2>NOTICE FOR CALIFORNIA USERS</h2>
               <p>
                   Under California Civil Code Section 1789.3, users of the Service from California are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, or by telephone at (855) PAYWDASH or support@paywithdash.com. You may contact us at Dash Inc, 152 W 25th Street, 12th Floor, New York, NY 10001.

               </p><h2>QUESTIONS? CONCERNS? SUGGESTIONS?</h2>
               <p>
                   Please contact us at support@paywithdash.com or via the address set forth below to report any violations of these Terms of Service or to pose any questions regarding this Terms of Service or the Service.

               </p><p>
                   Dash Software<br>
                   152 W 25th Street<br>
                   12th Floor<br>
                   New York, NY 10001
               </p> -->
           </div>

       </div>
       <script type="text/javascript">
      Dash.initAll();
  </script>

    </div>
  <footer >
  <div id="footer" class="footer">
      <!--   <div class="footer-apps-container">
          <a href="https://itunes.apple.com/us/app/dash-pay-on-your-phone-at/id677495265" target="_blank"><div class="footer-app-icon footer-app-icon-apple"></div></a>
          <a href="https://play.google.com/store/apps/details?id=me.dashwith" target="_blank"><div class="footer-app-icon footer-app-icon-google"></div></a>
        </div>
        <div class="footer-icons-container">
            <a href="https://www.facebook.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-facebook"></div></a>
            <a href="https://twitter.com/paywithdash" target="_blank"><div class="footer-icon footer-icon-twitter"></div></a>
            <a href="https://instagram.com/paywithdash/" target="_blank"><div class="footer-icon footer-icon-instagram"></div></a>
        </div>  -->       
          <ul class="footer-links-container">
            <li class="footer-link"><a href="/about">ABOUT</a></li>
            <li class="footer-circle"></li>
            <li class="footer-link"><a href="/contact">CONTACT</a></li>
            <li class="footer-circle"></li>
            <li class="footer-link"><a href="/privacy">PRIVACY POLICY</a></li>
            <!-- <li class="footer-circle"></li>
            <li class="footer-link"><a href="/team">OUR TEAM</a></li> -->
          </ul>
    </div>
</footer>

  </div>
</body>
  
</html>
