.accept-title {
    font-size: 44px;
    font-family: "museo-sans-rounded";
    font-weight: 100;
    color: #ffffff;
    padding-bottom: 80px
}

.accept-title div {
    -webkit-animation: all 1000s ease-in-out;
    animation: all 1000s ease-in-out
}

/*.learn-more-container {
    color: #ffffff;
    height: 22px;
    line-height: 22px;
    font-family: "museo-sans-rounded";
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    position: absolute;
    bottom: 100px
}*/

/*.accept {
    width: 380px;
    height: 70px;
    font-size: 20px;
    font-family: "museo-sans-rounded";
    font-weight: 500;
    border-radius: 2px;
    line-height: 70px
}*/

/*.accept-arrow {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-image: url("https://d1e48a0mk7d7st.cloudfront.net/assets/Arrow@2X-724fd43237be194b2d63da0eaac8817a.png");
    background-size: contain;
    background-position: center;
    color: #ffffff;
    cursor: pointer
}*/

/*.accept-arrow::before {
    content: 'Learn';
    position: relative;
    left: -55px
}

.accept-arrow::after {
    content: 'More';
    position: relative;
    right: 10px
}*/

/*.accept-icon {
    height: 150px;
    width: 150px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px 60px;
    white-space: nowrap
}*/

/*.accept-icon:after {
    position: relative;
    top: 155px;
    font-family: "museo-sans-rounded";
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    width: 200px;
    left: -20px
}*/

.accept-title-bring-it {
    text-align: center;
    color: #101010;
    font-family: "museo-sans-rounded";
    font-weight: 300;
    font-size: 36px;
    padding-bottom: 10px;
    padding-top: 50px
}

/*.accept-icons-container {
    text-align: center
}*/

/*.accept-icon-container {
    opacity: 0;
    padding-top: 30px
}*/

/*.accept-icon-seamless {
    background-image: url("https://d1e48a0mk7d7st.cloudfront.net/assets/SeamlessIntegration@2X-5389c6cf2e6da7ac4019c80d2e256e1b.png")
}

.accept-icon-guaranteed {
    background-image: url("https://d1e48a0mk7d7st.cloudfront.net/assets/GuaranteedTransactions@2X-172980091e8e5232da70210fe588360e.png")
}

.accept-icon-marketing {
    background-image: url("https://d1e48a0mk7d7st.cloudfront.net/assets/Marketing@2X-15c4a5f0ed413a17d0403be7417888c9.png")
}

.accept-icon-efficiency {
    background-image: url("https://d1e48a0mk7d7st.cloudfront.net/assets/Efficiency@2X-871e1e3f436d12c63f3a1c1e0daf810f.png")
}

.accept-icon-apply-pay {
    background-image: url("https://d1e48a0mk7d7st.cloudfront.net/assets/ApplePay@2X-d712bc2d6e072238da014a54846b36a5.png")
}

.accept-icons-container>div {
    display: inline-block;
    font-family: "museo-sans-rounded";
    font-weight: 500;
    font-size: 18px
}*/

.apply-form {
    display: inline-block;
    font-size: 16px;
    font-family: "museo-sans-rounded";
    font-weight: 500
    margin: 0 auto;
}

.apply-form input[type="tel"],
.apply-form input[type="text"],
.apply-form input[type="email"],
.apply-form .styled-select {
    width: 345px;
    height: 45px;
    margin: 20px 5px;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 5px;
    border: none;
    font-size: 16px;
    display: inline-block
}
/*.centertest {
    margin: 0 auto;
}*/

#apply_submit {
    text-align: center;
    line-height: 50px;
    width: 320px;
    margin-top: 20px;
    -webkit-appearance: none;
    border: none
}

/*#apply_spinner_container,*/
#apply_submit {
    height: 50px
}

/*#apply_spinner_container {
    display: none;
    height: 70px
}*/

/*#form_error {
    margin-top: 10px;
    text-align: center;
    color: #e37373;
    font-family: "museo-sans-rounded";
    font-weight: 500
}*/

/*.styled-select select {
    background: transparent;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none
}*/

/*.styled-select {
    background: url(images/FormDownArrow.png) no-repeat right #fff
}*/

@media only screen and (min-width: 861px) {
    .apply-form {
        width: 735px;
        text-align: center
    }
    /*.accept-icons-container {
        width: 820px;
        display: inline-block
    }*/
    .apply-form>div {
        display: inline-block
    }
}

@media only screen and (max-width: 860px) {
   /* .accept-icons-container {
        width: 100%
    }
    .apply-form input[type="tel"],
    .apply-form input[type="text"],
    .apply-form input[type="email"],
    .apply-form .styled-select {
        width: 90%
    }*/
    .apply-form>div {
        text-align: center;
    }
    .apply-form {
        width: 100%
    }
    .submit-container {
        display: block;
        padding-bottom: 10px
    }
    .accept-title {
        font-size: 30px
    }
    #apply_submit,
    .accept {
        width: 90%;
        font-size: 18px
    }
}

.submit-container {
    padding-bottom: 30px
}

/*@media only screen and (max-width: 320px) {
    .learn-more-container {
        bottom: 50px
    }
}*/