.content {
    color: #101010
}

.tos-container {
    padding-left: 25%;
    padding-right: 25%;
    font-family: "museo-sans-rounded";
    font-weight: 300;
    font-size: 14px;
    line-height: 26px
}

/*.tos-container h2 {
    color: #00c484;
    font-family: "museo-sans-rounded";
    font-weight: 100;
    font-size: 22px
}*/

.tos-container h2 {
    color: #00c484;
    font-family: "museo-sans-rounded";
    font-weight: 100;
    font-size: 22px;
    line-height: 22px
}

/*.tos-container h6 {
    font-size: 18px;
    line-height: 18px;
    margin: 0px
}*/

.tos-container a {
    color: #00c484
}

@media only screen and (max-width: 600px) {
    .tos-container {
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }
    .tos-container h2 {
        text-align: center
    }
}