.about-title-main {
    font-family: "museo-sans-rounded";
    font-weight: 100;
    font-size: 72px
}

.about-sub {
    font-family: "museo-sans-rounded";
    font-weight: 300;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 20px
}

.about-title-sub {
    font-size: 26px;
    padding: 20px;
    padding-bottom: 50px
}

.about-sub-detail {
    font-family: "museo-sans-rounded";
    font-weight: 100;
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px
}

.about-careers-title {
    font-family: "museo-sans-rounded";
    font-weight: 100;
    font-size: 60px;
    padding-bottom: 40px
}

.about-press {
    background: #ededed;
    color: #ffffff
}

.view-opportunities {
    width: 308px;
    height: 55px;
    line-height: 55px
}

.about-press-title {
    font-family: "museo-sans-rounded";
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 24px;
    margin-top: 54px;
    color: #101010;
    display: inline-block
}

.about-press-article-container {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-bottom: 50px;
    margin: 0px 0px
}

.about-press-article-text {
    font-size: 14px;
    color: #101010;
    padding: 0px 20px;
    font-family: "museo-sans-rounded";
    font-weight: 300
}

.about-press-articles-container {
    font-size: 0px;
    width: 50%
}

.about-press-article-container img {
    padding-bottom: 24px
}

.about-press-article-author {
    font-size: 14px;
    font-family: "museo-sans-rounded";
    font-weight: 500;
    color: #101010;
    margin-top: 12px
}

.about-press-article-author::before {
    content: '-'
}

.about-press-article-author::after {
    content: '-'
}

@media only screen and (min-width: 861px) {
    .about-sub {
        width: 810px
    }
}

@media only screen and (max-width: 860px) {
    #about_title_holder {
        margin-top: 50px
    }
    .about-title-main {
        font-family: "museo-sans-rounded";
        font-weight: 100;
        font-size: 32px;
        padding-bottom: 50px
    }
    .about-sub {
        margin: 0px 20px;
        text-align: justify
    }
    .about-sub-detail {
        font-family: "museo-sans-rounded";
        font-weight: 100;
        line-height: 24px;
        font-size: 16px;
        padding-bottom: 20px;
        padding-top: 20px
    }
    .about-careers-title {
        font-family: "museo-sans-rounded";
        font-weight: 100;
        font-size: 40px;
        padding-bottom: 40px
    }
    .view-opportunities {
        width: 90%;
        height: 55px;
        line-height: 55px
    }
    .about-press-articles-container {
        width: 100%
    }
    .about-press-article-container {
        width: 100%
    }
    .about-press-title {
        font-size: 18px;
        padding-bottom: 35px;
        margin-top: 30px
    }
}